.boton{
    color: aqua;
    background-color: brown;
    cursor: pointer;
}

button{
    cursor: pointer;
    background-color: black;
    color:white ;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px
}
label{
    background-color: black;
    color: white;
    font-size: 30px;
}
#css{
    background-color: black;
    color: white;
    font-size: 16px;

}

h1{
    font-size: 2em;
    color: rgb(8, 8, 8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ccc;
}
body{
    background-color: white;
    color: black;
    text-align: center;

}
#buscando{
    height: 25px;
}
#imagenes{
    width: 20%;
    height: auto;
}
#imgbusqueda{
    width: 30%;
    height: auto
}
#container{
    border-radius: 10px;
    background-color: aliceblue;
    font-size: large;
    color: black;
    text-align: center;
    
    margin: 100px
}
#elementopais{
    display: inline-block;
  margin: 5px; 
  padding: 10px; 
  font-weight: 800;
  border-radius: 5px; 
  background-color: gray;
  font-size: large; 
  color: rgb(0, 0, 0);
  text-align: center;        
    
}
#filtro{
    cursor: pointer;
    background-color: black;
    color:white ;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px
    

}
#buscar{
    cursor: pointer;
    background-color: black;
    color:white ;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px
}
#favear{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color:white ;
    padding: 5px 10px;
    font-size: 8px;
    border-radius: 5px
    
}
#favs{
    cursor: pointer;
    background-color: rgb(255, 251, 0);
    color:rgb(0, 0, 0) ;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px
    
}

#mostrar{
    cursor: pointer;
    background-color: rgb(0, 38, 255);
    color:rgb(43, 255, 0) ;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#hist{
    cursor: pointer;
    background-color: rgb(255, 251, 0);
    color:rgb(0, 0, 0) ;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px
    
}
.fav-btn{
    cursor: pointer;
    background-color: rgb(255, 251, 0);
    color:rgb(0, 0, 0) ;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px
}